
body {
    font-family: "Rubik";
    margin: 0;
    min-height: 100vh;
    background: #F8F9FF;
    overflow: hidden;
  }

  #root {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    height: 100vh;
    @media (max-width: 1024px) {
      height: calc(100vh - 30px);
    }
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }

  button:focus {
    outline: 0;
  }

  @media (max-width: 1279px) {
    .form-control {
      text-align: center;
    }
  }

  .grid {
    &.xl {
      width: calc(100% - 32px);
      max-width: 2000px;
      margin: 16px auto;
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: unset;
    }
    &.lg {
      width: calc(100% - 32px);
      max-width: 1600px;
      margin: 16px auto;
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: unset;
    }
    &.md {
      width: calc(100% - 32px);
      max-width: 1200px;
      margin: 16px auto;
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: unset;
    }
    &.sm {
      width: calc(100% - 32px);
      max-width: 925px;
      margin: 16px auto;
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: unset;
    }
  }

  .hide-on-tablet {
    @media (max-width: 1279px) {
      display: none;
    }
  }
  
  .show-on-tablet {
    @media (min-width: 1280px) {
      display: none;
    }
  }

  .line-through {
    text-decoration: line-through;
  }

  .orderPrinting {
    visibility: hidden;
    position: absolute;
    top: -100000px;
    left: -100000px;
  }

  @media print { 
    .orderPrinting {
      visibility: visible;
      position: unset;
    }
  }


  .customized-scrollbar {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
  
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: "transparent";
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #b4bfd9;
    }
  }
  